@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Sora:wght@100..800&display=swap");
@import "tailwindcss";
@plugin "daisyui";
@tailwind utilities;
@plugin "daisyui/theme" {
  name: "etuitionbd_light";
  default: true;
}
@plugin "daisyui/theme" {
  name: "etuitionbd_dark";

  /* Brand */
  --color-primary: #0043c1;
  --color-secondary: #0297f3;
  --color-accent: #11c4dc;
  /* --color-authBg : #162447  */

  /* Backgrounds */
  --color-base-100: #0b1120;
  --color-base-200: #0b1b37; /* use your logo navy */
  --color-base-300: #1e293b;
  --color-base-400: #162447; /* auth page bg */
  /* Text */
  --color-neutral: #f1f5f9;
  --color-primary-content: #ffffff;
  --color-secondary-content: #ffffff;
  --color-accent-content: #ffffff;
  --color-base-content: #cbd5e1;
  --color-neutral-content: #64748b;

  /* Semantic */
  --color-info: #38bdf8;
  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-error: #ef4444;
}

@plugin "daisyui/theme" {
  name: "etuitionbd_light";
  default: true;

  /* Brand */
  --color-primary: #0043c1;
  --color-secondary: #0297f3;
  --color-accent: #11c4dc;
  
   /* --color-authBg : #e8f1ff */

  /* Backgrounds */
  --color-base-100: #f1f5f9; /* page background */
  --color-base-200: #ffffff; /* cards */
  --color-base-300: #e2e8f0; /* borders */
  --color-base-400: #e8f1ff; /* auth page bg */

  /* Text */
  --color-neutral: #0f172a;
  --color-primary-content: #ffffff;
  --color-secondary-content: #ffffff;
  --color-accent-content: #ffffff;
  --color-base-content: #334155;
  --color-neutral-content: #334155;

  /* Semantic */
  --color-info: #3b82f6;
  --color-success: #22c55e;
  --color-warning: #f59e0b;
  --color-error: #ef4444;
}

@layer utilities {
  .jakarta {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
  }
  .outfit {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
  }
  .sora {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
  }
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
}
body {
  overflow-x: hidden;
}
